* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

li {
    list-style: none;
    padding: 3px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: black;


}

.projectNameDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    width: 1000px;
    margin: 40px auto;
    border: none;
    border-radius: 20px;
    background-color: black;
    box-shadow: white 0 0 10px -2px;

}

.projectNameDiv:hover {
    box-shadow: white 0 0 15px 1px;

}

#project-name {
    font-size: 60px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lavender;
}

.main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: inherit;
    gap: 30px;
    width: 600px;
}

#flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;

}

#description {
    font-size: 25px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.button1 {
    margin-top: 80px;
    height: 100px;
    width: 600px;
    background-color: black;
    border: none;
    border-radius: 10px;
    box-shadow: white 0 0 10px -2px;
    color: aqua;
    font-size: 40px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

}


.button1:hover {
    box-shadow: white 0 0 13px 1px;
    color: orange;
}

.button1:active {
    box-shadow: white 0 0 16px 1px;
    color: aqua;
}

#button2 {
    color: orange;
}

#button2:hover {
    box-shadow: white 0 0 13px 1px;
    color: aqua;
}

#button2:active {
    box-shadow: white 0 0 16px 1px;
    color: orange;
}

.small-button {
    height: 100px;
    width: 500px;
    background-color: black;
    border-radius: 10px;
    box-shadow: white 0 0 10px -2px;
    color: cornflowerblue;
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

}

.small-button:hover {
    box-shadow: white 0 0 13px 1px;
    color: rgb(39, 43, 150);
}

.toggle {
    margin-top: 0;
    display: none;
    box-shadow: white 0 0 9px -1px;
}

.word-container {
    margin-top: 15px;
    height: 300px;
    width: 600px;
    border: none;
    box-shadow: white 0 0 9px -1px;
    background-color: black;
}

.word-container2 {
    margin-top: 15px;
    height: 300px;
    width: 500px;
    border: none;
    box-shadow: white 0 0 9px -1px;
    background-color: black;
}

.words {
    color: white;
}